# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directories and tools
coverage
*.lcov
.nyc_output
lib-cov

# Build and dependency directories
build/
bower_components
node_modules/
jspm_packages/
web_modules/
.serverless/
.fusebox/
.dynamodb/
.nuxt/
.vuepress/dist
.next

# Cache directories and files
.cache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.eslintcache
.stylelintcache
*.tsbuildinfo
.npm
.grunt

# Parcel and Snowpack
.cache
.web_modules/

# Typescript
*.tsbuildinfo

# VS Code
.vscode/
*.code-workspace

# Temporary files and directories
tmp/
temp/

# OS-specific files
## macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
## Windows
Thumbs.db
ehthumbs.db

# IDEs and editor files
.idea/
.nuclide/
.tern-port

# Project-specific files
.build/
persistent_volumes/
main
docker-compose.yml
.env
*_config.ini
*.zip
*.cfg
*.crt
*.key
.42c
_*
.*

# Xcode
## User settings
*/xcuserdata/
*.xcuserdata/
*.xcuserstate
## Obj-C/Swift specific
*.hmap
## App packaging
*.ipa
*.dSYM.zip
*.dSYM
## Playgrounds
timeline.xctimeline
playground.xcworkspace
## CocoaPods
Pods/
## Carthage
Carthage/Build/
## Accio dependency management
Dependencies/
.accio/
## fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
## Code Injection
iOSInjectionProject/
## Swift Package Manager
Packages/
Package.pins
Package.resolved
