openapi: 3.0.0

info:
  version: 1.0.0
  title: Authorization service API
  termsOfService: "https://rupl.org/terms/"
  contact:
    name: Rupl
    email: i@rupl.org
    url: "https://rupl.org/contact"
  license:
    name: GNU General Public License v3.0
    url: "https://www.gnu.org/licenses/gpl-3.0.html"
  x-logo:
    url: "https://rupl.org/images/rupl-logo.png"
  description: |
    This is a description of the rupl.org authorization service API and its operations.

tags:
  - name: User
    description: |
      The OAuth 2.0 user authorization for browser-based web applications and other clients that can interact with a user-agent.
  - name: Device
    description: |
      The OAuth 2.0 device authorization for browserless and input-constrained devices like watches and fitness trackers.

servers:
  - url: "https://rupl.org"
    description: "Production server"
  - url: "http://dredfort.ddns.net:4242"
    description: "Development server"
  - url: "http://localhost:4242"
    description: "Local server"

paths:
  /api/v1/auth/user/signup:
    post:
      tags:
        - User
      summary: Register a new user
      description: |
        Register a new user with the rupl.org authorization service.
      operationId: register_user
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/User"
      responses:
        "200":
          description: OK
          content:
            application/json:
              example:
                message: "user successfully registered"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                invalidJson:
                  summary: Invalid request
                  value:
                    error: "invalid_request"
                    error_description: "invalid JSON in the request body | ..."
                missingEmail:
                  summary: Missing email
                  value:
                    error: "invalid_parameter"
                    error_description: "email address is required"
                invalidEmail:
                  summary: Invalid email
                  value:
                    error: "invalid_parameter"
                    error_description: "email address is invalid"
                missingPassword:
                  summary: Missing password
                  value:
                    error: "invalid_parameter"
                    error_description: "password is required"
                passwordContainsForbiddenCharacters:
                  summary: Password contains forbidden characters
                  value:
                    error: "invalid_parameter"
                    error_description: "password contains forbidden characters"
                passwordTooShort:
                  summary: Password isn't strong enough
                  value:
                    error: "invalid_parameter"
                    error_description: "password isn't strong enough"
                userExists:
                  summary: User exists
                  value:
                    error: "user_exists"
                    error_description: "user with this email already exists"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                tokenError:
                  summary: Token error
                  value:
                    error: "token_error"
                    error_description: "failed to generate tokens | ..."
                serverError:
                  summary: Database error
                  value:
                    error: "database_error"
                    error_description: "error creating user in the database | ..."

  /api/v1/auth/user/identify:
    get:
      security:
        - OAuth2AccessToken: []
      tags:
        - User
      summary: Identify a user's
      description: |
        Identify a user with the rupl.org authorization service.
      operationId: identify_user
      responses:
        "200":
          description: OK
          content:
            application/json:
              example:
                message: "user successfully identified"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                missingAccessToken:
                  summary: Missing access token
                  value:
                    error: "token_error"
                    error_description: "missing access token"
                failedToVerifyToken:
                  summary: Failed to verify token
                  value:
                    error: "token_error"
                    error_description: "failed to verify access token"

  /api/v1/auth/user/delete:
    delete:
      security:
        - OAuth2AccessToken: [write, admin]
      tags:
        - User
      summary: Delete a user
      description: |
        Delete a user from the rupl.org authorization service.
      operationId: delete_user
      responses:
        "200":
          description: OK
          content:
            application/json:
              example:
                message: "user successfully deleted"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                jsonError:
                  summary: Invalid request
                  value:
                    error: "invalid_request"
                    error_description: "invalid JSON in the request body | ..."
                invalidEmailOrPassword:
                  summary: Invalid email or password
                  value:
                    error: "invalid_parameter"
                    error_description: "email or password is invalid"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                missingAccessToken:
                  summary: Missing access token
                  value:
                    error: "token_error"
                    error_description: "missing access token"
                failedToVerifyToken:
                  summary: Failed to verify token
                  value:
                    error: "token_error"
                    error_description: "failed to verify access token"
                invalidPassword:
                  summary: Invalid password
                  value:
                    error: "invalid_parameter"
                    error_description: "password is invalid"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                databaseSessionDeleteAllError:
                  summary: Database delete all user's sessions error
                  value:
                    error: "database_error"
                    error_description: "failed to delete user's sessions from the database | ..."
                databaseDeviceDeleteAllError:
                  summary: Database delete all user's devices error
                  value:
                    error: "database_error"
                    error_description: "failed to delete user's devices from the database | ..."
                databaseUserDeleteError:
                  summary: Database delete user error
                  value:
                    error: "database_error"
                    error_description: "failed to delete user from the database | ..."

  /api/v1/auth/user/login:
    post:
      security:
        - basicAuth: []
      summary: Login a user
      tags:
        - User
      description: |
        Login a user with the rupl.org authorization service.
      operationId: login_user
      parameters:
        - name: remember
          in: query
          required: false
          schema:
            type: boolean
          description: |
            Remember the user's login session on the client device.
      responses:
        "200":
          description: OK
          content:
            application/json:
              example:
                message: "user successfully logged in"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                missingCredentials:
                  summary: Missing credentials
                  value:
                    error: "invalid_parameter"
                    error_description: "authorization header is invalid"
                invalidCredentials:
                  summary: Invalid credentials
                  value:
                    error: "invalid_parameter"
                    error_description: "invalid email or password"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                tokenError:
                  summary: Token error
                  value:
                    error: "token_error"
                    error_description: "failed to generate tokens | ..."
                databaseError:
                  summary: Database error
                  value:
                    error: "database_error"
                    error_description: "failed to update user tokens in the database | ..."

  /api/v1/auth/user/refresh:
    get:
      security:
        - OAuth2AccessToken: []
      tags:
        - User
      summary: Refresh a user's access and refresh tokens
      description: |
        Refresh a user's access and refresh tokens with the rupl.org authorization service.
      operationId: refresh_tokens
      responses:
        "200":
          description: OK
          content:
            application/json:
              example:
                message: "user tokens successfully refreshed"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                missingRefreshToken:
                  summary: Missing refresh token
                  value:
                    error: "token_error"
                    error_description: "missing refresh token"
                failedToVerifyToken:
                  summary: Failed to verify token
                  value:
                    error: "token_error"
                    error_description: "failed to verify refresh token"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                tokenError:
                  summary: Token error
                  value:
                    error: "token_error"
                    error_description: "failed to generate tokens | ..."
                databaseError:
                  summary: Database error
                  value:
                    error: "database_error"
                    error_description: "failed to update user tokens in the database | ..."

  /api/v1/auth/user/logout:
    post:
      security:
        - OAuth2AccessToken: []
      tags:
        - User
      summary: Logout a user
      description: |
        Logout a user from the rupl.org authorization service.
      operationId: logout_user
      parameters:
        - name: all
          in: query
          required: false
          schema:
            type: boolean
          description: |
            Sign out from all browsers.
      responses:
        "200":
          description: OK
          content:
            application/json:
              example:
                message: "user successfully logged out"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                missingAccessToken:
                  summary: Missing access token
                  value:
                    error: "token_error"
                    error_description: "missing access token"
                failedToVerifyToken:
                  summary: Failed to verify token
                  value:
                    error: "token_error"
                    error_description: "failed to verify access token"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                databaseError:
                  summary: Database error
                  value:
                    error: "database_error"
                    error_description: "failed to delete user's tokens from the database | ..."

  /api/v1/auth/user/password:
    post:
      security:
        - OAuth2AccessToken: []
      tags:
        - User
      summary: Change a user's password
      description: |
        Change a user's password with the rupl.org authorization service.
      operationId: change_password
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                old_password:
                  $ref: "#/components/schemas/Password"
                new_password:
                  example: "q1w2e3r4t5y6u7i8o9p0"
      responses:
        "200":
          description: OK
          content:
            application/json:
              example:
                message: "user password successfully changed"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                invalidJson:
                  summary: Invalid request
                  value:
                    error: "invalid_request"
                    error_description: "invalid JSON in the request body | ..."
                missingPassword:
                  summary: Missing old or new password
                  value:
                    error: "invalid_parameter"
                    error_description: "old password and new password are required"
                sameOldNewPassword:
                  summary: Same old and new password
                  value:
                    error: "invalid_parameter"
                    error_description: "old password and new password are the same"
                passwordContainsForbiddenCharacters:
                  summary: Password contains forbidden characters
                  value:
                    error: "invalid_parameter"
                    error_description: "password contains forbidden characters"
                passwordTooShort:
                  summary: Password isn't strong enough
                  value:
                    error: "invalid_parameter"
                    error_description: "password isn't strong enough"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                missingAccessToken:
                  summary: Missing access token
                  value:
                    error: "token_error"
                    error_description: "missing access token"
                failedToVerifyToken:
                  summary: Failed to verify token
                  value:
                    error: "token_error"
                    error_description: "failed to verify access token"
                invalidOldPassword:
                  summary: Invalid old password
                  value:
                    error: "invalid_parameter"
                    error_description: "old password is invalid"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                databaseError:
                  summary: Database error
                  value:
                    error: "database_error"
                    error_description: "failed to update user password in the database | ..."

  /api/v1/auth/user/email:
    post:
      security:
        - OAuth2AccessToken: []
      tags:
        - User
      summary: Change a user's email
      description: |
        Change a user's email with the rupl.org authorization service.
      operationId: change_email
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                new_email:
                  $ref: "#/components/schemas/Email"
                password:
                  $ref: "#/components/schemas/Password"
      responses:
        "200":
          description: OK
          content:
            application/json:
              example:
                message: "user email successfully changed"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                invalidJson:
                  summary: Invalid request
                  value:
                    error: "invalid_request"
                    error_description: "invalid JSON in the request body | ..."
                missingEmail:
                  summary: Missing new email
                  value:
                    error: "invalid_parameter"
                    error_description: "new email address is required"
                invalidEmail:
                  summary: Invalid new email
                  value:
                    error: "invalid_parameter"
                    error_description: "new email address is invalid"
                sameOldNewEmail:
                  summary: Same old and new email
                  value:
                    error: "invalid_parameter"
                    error_description: "new email address is the same as the old one"
                missingPassword:
                  summary: Missing password
                  value:
                    error: "invalid_parameter"
                    error_description: "password is required"
                invalidPassword:
                  summary: Invalid password
                  value:
                    error: "invalid_parameter"
                    error_description: "password is invalid"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                missingAccessToken:
                  summary: Missing access token
                  value:
                    error: "token_error"
                    error_description: "missing access token"
                failedToVerifyToken:
                  summary: Failed to verify token
                  value:
                    error: "token_error"
                    error_description: "failed to verify access token"
                invalidPassword:
                  summary: Invalid password
                  value:
                    error: "invalid_parameter"
                    error_description: "password is invalid"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                databaseError:
                  summary: Database error
                  value:
                    error: "database_error"
                    error_description: "failed to update user email in the database | ..."
                databaseSessionDeleteAllError:
                  summary: Database delete all user's sessions error
                  value:
                    error: "database_error"
                    error_description: "failed to delete user's sessions from the database | ..."

  /api/v1/auth/device/authorize:
    post:
      tags:
        - Device
      summary: Authorize a device
      description: |
        Authorize a device with the rupl.org authorization service.
      operationId: authorize_device
      parameters:
        - name: client_id
          in: query
          required: true
          schema:
            type: string
          description: |
            The client's device UUID.
          example: "d290f1ee-6c54-4b01-90e6-d701748f0851"
      responses:
        "200":
          description: OK
          content:
            application/json:
              example:
                device_code: "969cd597-cfe9-469e-a28c-753b7c54f453"
                user_code: "948Q-L9S1"
                verification_uri: "https://example.server.com/device/verify"
                verification_uri_complete: "https://example.server.com/device/verify?user_code=1A23-654B"
                expires_in: 300
                interval: 3
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                invalidClientId:
                  summary: Invalid client ID
                  value:
                    error: "invalid_parameter"
                    error_description: "client_id is invalid"

  /api/v1/auth/device/verify:
    post:
      tags:
        - Device
      summary: Verify a device
      description: |
        Verify a device with the rupl.org authorization service.
      operationId: verify_device
      parameters:
        - name: user_code
          in: query
          required: true
          schema:
            type: string
          description: |
            The user code from the device.
          example: "948Q-L9S1"
      responses:
        "200":
          description: OK
          content:
            application/json:
              example:
                message: "device successfully verified"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                missingUserCode:
                  summary: Missing user code
                  value:
                    error: "invalid_parameter"
                    error_description: "user_code is required"
                invalidDeviceCode:
                  summary: Invalid device code
                  value:
                    error: "invalid_parameter"
                    error_description: "device_code is invalid"
                invalidUserCode:
                  summary: Invalid user code
                  value:
                    error: "invalid_parameter"
                    error_description: "user_code is invalid"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                missingAccessToken:
                  summary: Missing access token
                  value:
                    error: "token_error"
                    error_description: "missing access token"
                failedToVerifyToken:
                  summary: Failed to verify token
                  value:
                    error: "token_error"
                    error_description: "failed to verify access token"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                tokenError:
                  summary: Token error
                  value:
                    error: "token_error"
                    error_description: "failed to generate device tokens | ..."
                databaseError:
                  summary: Database error
                  value:
                    error: "database_error"
                    error_description: "failed to create a new device in the database | ..."

  /api/v1/auth/device/token:
    post:
      tags:
        - Device
      summary: Get a device token
      description: |
        Get a device token with the rupl.org authorization service.
      operationId: get_device_token
      parameters:
        - name: grant_type
          in: query
          required: true
          schema:
            type: string
          description: |
            The grant type for the device.
          example: "urn:ietf:params:oauth:grant-type:device_code"
        - name: device_code
          in: query
          required: true
          schema:
            type: string
          description: |
            The device code from the device.
          example: "e68df4a8-015c-4b09-bd63-ae421277a948"
        - name: client_id
          in: query
          required: true
          schema:
            type: string
          description: |
            The client's device UUID.
          example: "d290f1ee-6c54-4b01-90e6-d701748f0"
      responses:
        "200":
          description: OK
          content:
            application/json:
              example:
                access_token: "example42RsT5OjbzRn430zqMLgV3Ia"
                token_type: "Bearer"
                expires_in: 3600
                refresh_token: "example42b7a3fac6b10e13bb3a276c2aab35e97298a060e0ede5b43ed1f720a8"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                missingRequiredParameter:
                  summary: Missing required parameter
                  value:
                    error: "invalid_request"
                    error_description: "missing required parameter"
                invalidGrantType:
                  summary: Invalid grant type
                  value:
                    error: "invalid_request"
                    error_description: "grant_type is invalid"
                invalidDeviceCode:
                  summary: Invalid device code
                  value:
                    error: "invalid_request"
                    error_description: "device_code is invalid"

  /api/v1/auth/device/identify:
    get:
      security:
        - bearerAuth: []
      tags:
        - Device
      summary: Identify a device
      description: |
        Identify a device with the rupl.org authorization service.
      operationId: identify_device
      parameters:
        - name: client_id
          in: query
          required: true
          schema:
            type: string
          description: |
            The client's device UUID.
          example: "d290f1ee-6c54-4b01-90e6-d701748f0851"
      responses:
        "200":
          description: OK
          content:
            application/json:
              example:
                message: "device successfully identified"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                missingClientId:
                  summary: Missing client ID
                  value:
                    error: "invalid_parameter"
                    error_description: "client_id is required"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                missingAccessToken:
                  summary: Missing device access token
                  value:
                    error: "token_error"
                    error_description: "missing device access token"
                failedToVerifyToken:
                  summary: Failed to verify token
                  value:
                    error: "token_error"
                    error_description: "failed to verify device access token"

  /api/v1/auth/device/delete:
    delete:
      security:
        - bearerAuth: []
      tags:
        - Device
      summary: Delete a device
      description: |
        Delete a device from the rupl.org authorization service.
      operationId: delete_device
      parameters:
        - name: client_id
          in: query
          required: true
          schema:
            type: string
          description: |
            The client's device UUID.
          example: "d290f1ee-6c54-4b01-90e6-d701748f0851"
      responses:
        "200":
          description: OK
          content:
            application/json:
              example:
                message: "device successfully deleted"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                missingClientId:
                  summary: Missing client ID
                  value:
                    error: "invalid_parameter"
                    error_description: "client_id is required"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                missingAccessToken:
                  summary: Missing device access token
                  value:
                    error: "token_error"
                    error_description: "missing device access token"
                failedToVerifyToken:
                  summary: Failed to verify token
                  value:
                    error: "token_error"
                    error_description: "failed to verify device access token"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                databaseError:
                  summary: Database error
                  value:
                    error: "database_error"
                    error_description: "failed to delete device from the database | ..."

  /api/v1/auth/device/refresh:
    post:
      tags:
        - Device
      summary: Refresh a device's access and refresh tokens
      description: |
        Refresh a device's access and refresh tokens with the rupl.org authorization service.
      operationId: refresh_device_tokens
      parameters:
        - name: client_id
          in: query
          required: true
          schema:
            type: string
          description: |
            The client's device UUID.
          example: "d290f1ee-6c54-4b01-90e6-d701748f0851"
        - name: grant_type
          in: query
          required: true
          schema:
            type: string
          description: |
            The grant type for the device refresh_token.
          example: "refresh_token"
        - name: refresh_token
          in: query
          required: true
          schema:
            type: string
          description: |
            The refresh token from the device.
          example: "example42b7a3fac6b10e13bb3a276c2aab35e97298a060e0ede5b43ed1f720a8"
      responses:
        "200":
          description: OK
          content:
            application/json:
              example:
                access_token: "new21example42RsT5OjbzRn430zqMLgV3Ia"
                token_type: "Bearer"
                expires_in: 3600
                refresh_token: "new21example42b7a3fac6b10e13bb3a276c2aab35e97298a060e0ede5b43ed1f720a8"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                missingParameter:
                  summary: Missing parameter
                  value:
                    error: "invalid_parameter"
                    error_description: "missing required parameter"
                invalidGrantType:
                  summary: Invalid grant type
                  value:
                    error: "invalid_parameter"
                    error_description: "grant_type is invalid"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                failedToVerifyToken:
                  summary: Failed to verify device refresh token
                  value:
                    error: "token_error"
                    error_description: "failed to verify device refresh token"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                tokenError:
                  summary: Token error
                  value:
                    error: "token_error"
                    error_description: "failed to generate device tokens | ..."
                databaseError:
                  summary: Database error
                  value:
                    error: "database_error"
                    error_description: "failed to update device tokens in the database | ..."

components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
    bearerAuth:
      type: http
      scheme: bearer
    OAuth2AccessToken:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: "/api/v1/auth/login"
          refreshUrl: "/api/v1/auth/refresh"
          scopes:
            write: "write access"
            admin: "admin access"
  schemas:
    Error:
      description: |
        Error response
      type: object
      properties:
        error:
          type: string
          example: "invalid_request"
        error_description:
          type: string
          example: "user with this email already exists"
    Email:
      description: |
        User email address
      type: string
      format: email
      example: john.smith@example.com
    Password:
      description: |
        User password
      type: string
      format: password
      example: P@ssw0rd
    User:
      description: |
        User data
      type: object
      properties:
        email:
          $ref: "#/components/schemas/Email"
        password:
          $ref: "#/components/schemas/Password"
    UserLogin:
      description: |
        User login data
      type: object
      properties:
        email:
          $ref: "#/components/schemas/Email"
        password:
          $ref: "#/components/schemas/Password"
        remember:
          type: boolean
          example: true
